
<div class="content">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">City</h5>
    </div>
<div class="text-end">
  <%= link_to 'New City', new_city_path, class: "btn btn-primary" %>
  </div>
    <table id="cities-datatable" class="table " data-source="<%= cities_path(format: :json) %>">
      <thead>
        <tr>
          <th>City Country</th>
           <th>City State</th>
           <th>City Name</th>
            <th>City Zip</th>
          <th>City Population</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
